@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  font-family: Poppins;
  margin: 0;
  padding: 0;

}

body,
html {
  background-color: #28194B;
}

/* Footer Styles */


footer {
  position: absolute;
  bottom: 0;
  background: linear-gradient(to top, #c300ff9f, transparent 90%);
  text-align: center;
  width: 100%;
}

/* Navbar Styles */
.homenav {
  background: linear-gradient(to bottom, #c300ff9f, transparent 90%);
  color: #fff;
  font-size: 20px;
  text-align: center;
  padding: 20px;
}

.homenav ul {
  top: 0;
  width: 100%;
}

div.navopt {
  justify-content: flex-end;
  display: flex;
  text-transform: lowercase;
  font-weight: 500;
  gap: 30px;
  margin: 0 30px;
}

.homenav li {
  display: inline;
}

.homenav a {
  text-decoration: none;
  color: #fff;
}

#logo {
  font-size: 28px;
  font-weight: 700;
  justify-content: flex-start;
}

/* Card Styles */

.card a,
p {
  text-decoration: none;
  color: #fff;
  word-wrap: break-word;
  cursor: pointer;
}

.card img {
  width: 300px;
  height: 300px;
  border-radius: 8px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  border: solid white;
  border-radius: 8px;
  width: 300px;
  padding: 10px;
  transition-duration: 0.3s;
}

.card:hover {
  border-color: rgb(255, 129, 255);
  color: rgb(255, 129, 255);
  transform: scale(110%);
}

section.cardgame {
  display: flex;
  margin: 20px auto;
  padding: 20px;
  justify-content: space-around;
}

.play {
  display: flex;
  justify-content: space-around;
  text-transform: uppercase;
}


.playbutton {
  text-decoration: none;
  color: white;
  padding: 5px;
  border: solid white 2px;
  border-radius: 10px;
  transition-duration: .5s;
}

.playbutton:hover {
  border-color: rgb(255, 129, 255);
  color: rgb(255, 129, 255);
  transform: scale(130%);
}