@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
  font-family: Poppins;
  margin: 0;
  padding: 0;
  
}

body {
  background-color: #28194B;
}

/* Navbar Styles */
.homenav {
  background: linear-gradient(#BE41B2, #281948);
  color: #fff;
  font-size: 20px;
  text-align: center;
  padding: 20px;
  width: 100%;
}

.homenav ul {
  top: 0;
  width: 100%;
  list-style-type: none;
}

div.navopt {
  justify-content: flex-end;
  display: flex;
  text-transform: lowercase;
  font-weight: 500;
  gap: 30px;
}

.homenav li {
  display: inline;
}

.homenav a {
  text-decoration: none;
  color: #fff;
}

#logo {
  font-size: 28px;
  font-weight: 700;
  border: solid;
  justify-content: flex-start;
}


 /* Card Styles */  
 
.card a, p {
  text-decoration: none;
  color: #fff;
  word-wrap: break-word;
  cursor: pointer;
}

.card img {
  width: 300px;
  height: 300px;
  border-radius: 8px;
} 

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  border: solid white;
  border-radius: 8px;
  width: 300px;
  padding: 10px;
}

section.cardgame {
  display: flex;
  margin: 20px auto;
  padding: 20px;
  justify-content: space-around;
}
